/* TODO 
V Finir les bases
  Balises HTML5 (nav, section, article, ...)
  Framework pour cards, gridlayout et popup
  Responsive Design
  Faire un design pour print
  Peut-être Version mal voyant (high contrast)
  Utiliser :before pour le pourcentage d'où on est dans l'article
  Faire un design pour restaurant
*/
html {
  font-size: 22px;
}
body {
  color: #081b23;
  background-color: #FAFAFA;
  font-size: 1em;
  max-width: 50%;
  margin: auto;
  font-family: serif;
  line-height: 1.5em;
}
body * + * {
  margin-top: 1.5em;
  margin-bottom: 0;
}
a {
  background-color: transparent;
  color: #0083E8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #9314ff;
}
a:active {
  color: #FF512C;
}
a #mixin-sup {
  font-size: smaller;
  vertical-align: super;
  margin-left: 0.2em;
}
a[download]:after {
  content: '\21D3';
  font-size: smaller;
  vertical-align: super;
  margin-left: 0.2em;
}
a[rel~=external]:after {
  content: '\279A';
  font-size: smaller;
  vertical-align: super;
  margin-left: 0.2em;
}
a[href^="mailto"]:after {
  content: '\260F';
  font-size: smaller;
  vertical-align: super;
  margin-left: 0.2em;
}
ul,
ol {
  padding-left: 1em;
}
li + * {
  margin-top: 0.25em;
}
blockquote {
  font-style: italic;
  margin-left: 0.25em;
  margin-right: 0;
  padding-left: 1em;
  padding-right: 1em;
  border-left: 0.25em solid #822DF3;
  background-color: rgba(130, 45, 243, 0.15);
  text-align: justify;
}
blockquote * {
  margin: 0;
}
blockquote cite {
  font-style: initial;
  font-weight: bold;
}
pre {
  display: block;
  background-color: #081b23;
  color: #FAFAFA;
  padding: 0.75em;
  overflow-x: auto;
  border-radius: 0.5em;
}
pre code {
  font-family: Consolas, monospace;
}
hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #299AF1, rgba(0, 0, 0, 0));
}
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
}
table caption {
  font-style: italic;
}
th {
  border-bottom: 1px solid;
}
th + th {
  border-left: 1px solid;
}
tr td {
  border-top: 1px solid;
}
td + td {
  border-left: 1px solid;
}
tbody tr:hover,
tfoot tr:hover {
  background-color: rgba(59, 59, 244, 0.15);
}
th,
td {
  padding: 0.5em;
}
form {
  letter-spacing: 0.1em;
}
form ul,
form ol {
  list-style: none;
  padding-left: 0;
}
fieldset {
  border-radius: 0.5em;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  font-family: sans-serif;
  line-height: 1em;
  margin-bottom: 0;
}
fieldset legend {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
fieldset legend + * {
  margin-top: 0;
}
input,
textarea,
select {
  letter-spacing: 0.1em;
  padding: 0.25em 1em;
  border-radius: 0.5em;
  border: 1px solid rgba(8, 27, 35, 0.15);
  font-size: 0.75em;
  font-family: sans-serif;
  vertical-align: middle;
  width: auto;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #a8c9fe;
  box-shadow: 0px 1px 5px #a8c9fe;
}
textarea {
  margin-top: 0.5em;
  width: 100%;
}
label {
  cursor: auto;
  font-family: sans-serif;
  margin-top: 0.25em;
}
label + select,
label > select {
  margin-left: 0.5em;
}
input[type=checkbox],
input[type=radio] {
  width: 1em;
  height: 1em;
}
button,
input[type=reset],
input[type=submit],
input[type=button] {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 1px solid rgba(8, 27, 35, 0.15);
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
  vertical-align: middle;
  width: auto;
  margin-top: 0.25em;
  background: #3B3BF4;
  color: #FAFAFA;
  text-shadow: 0px 1px 5px #081b23;
  cursor: pointer;
  outline: none;
}
button:hover,
input[type=reset]:hover,
input[type=submit]:hover,
input[type=button]:hover {
  background: #0d0def;
}
button:active,
input[type=reset]:active,
input[type=submit]:active,
input[type=button]:active {
  background: #0c0cd6;
}
button:disabled,
input[type=reset]:disabled,
input[type=submit]:disabled,
input[type=button]:disabled {
  background: rgba(8, 27, 35, 0.15);
  color: rgba(8, 27, 35, 0.5);
  cursor: not-allowed;
  text-shadow: none;
}
button.success,
input[type=reset].success,
input[type=submit].success,
input[type=button].success {
  background: #89F431;
}
button.success:hover,
input[type=reset].success:hover,
input[type=submit].success:hover,
input[type=button].success:hover {
  background: #6ee60c;
}
button.success:active,
input[type=reset].success:active,
input[type=submit].success:active,
input[type=button].success:active {
  background: #63ce0b;
}
button.danger,
input[type=reset].danger,
input[type=submit].danger,
input[type=button].danger {
  background: #ff3333;
}
button.danger:hover,
input[type=reset].danger:hover,
input[type=submit].danger:hover,
input[type=button].danger:hover {
  background: #ff0000;
}
button.danger:active,
input[type=reset].danger:active,
input[type=submit].danger:active,
input[type=button].danger:active {
  background: #e50000;
}
button.warning,
input[type=reset].warning,
input[type=submit].warning,
input[type=button].warning {
  background: #FF9D33;
}
button.warning:hover,
input[type=reset].warning:hover,
input[type=submit].warning:hover,
input[type=button].warning:hover {
  background: #ff8500;
}
button.warning:active,
input[type=reset].warning:active,
input[type=submit].warning:active,
input[type=button].warning:active {
  background: #e57700;
}
button.first,
input[type=reset].first,
input[type=submit].first,
input[type=button].first {
  background: #3B3BF4;
}
button.first:hover,
input[type=reset].first:hover,
input[type=submit].first:hover,
input[type=button].first:hover {
  background: #0d0def;
}
button.first:active,
input[type=reset].first:active,
input[type=submit].first:active,
input[type=button].first:active {
  background: #0c0cd6;
}
button.second,
input[type=reset].second,
input[type=submit].second,
input[type=button].second {
  background: #299AF1;
}
button.second:hover,
input[type=reset].second:hover,
input[type=submit].second:hover,
input[type=button].second:hover {
  background: #0e81d9;
}
button.second:active,
input[type=reset].second:active,
input[type=submit].second:active,
input[type=button].second:active {
  background: #0d72c1;
}
button.third,
input[type=reset].third,
input[type=submit].third,
input[type=button].third {
  background: #822DF3;
}
button.third:hover,
input[type=reset].third:hover,
input[type=submit].third:hover,
input[type=button].third:hover {
  background: #680de0;
}
button.third:active,
input[type=reset].third:active,
input[type=submit].third:active,
input[type=button].third:active {
  background: #5c0bc8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  line-height: 1.5em;
}
h1 {
  font-size: 2.074em;
}
h2 {
  font-size: 1.728em;
}
h3,
fieldset legend {
  font-size: 1.44em;
}
h4 {
  font-size: 1.2em;
}
h5,
h6 {
  font-size: 1em;
}
img {
  max-width: 100%;
  box-shadow: 2px 2px 5px #081b23;
}
@media only screen and (max-width: 750px) {
  html {
    font-size: 11px;
  }
  body {
    max-width: 92%;
  }
}
@media print {
  a[href]:after {
    content: ' (' attr(href) ') ';
  }
}
